<% if resource.errors.any? %>
  <div class="form-errors" data-turbo-temporary>
    <h2><%= pluralize(resource.errors.count, "error") %> prevented this form from being saved:</h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
