<h1>Campaigns</h1>

<p><%= link_to "New campaign", new_campaign_path %></p>

<% if @campaigns.any? %>
  <ul>
    <% @campaigns.each do |campaign| %>
      <li>
        <%= link_to campaign.name, campaign_path(campaign) %>
        -
        <%= link_to "Edit", edit_campaign_path(campaign) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No campaigns yet.</p>
<% end %>